
/* Paletas de cores usadas

     #93a1ddc7;
     #83a9e1;
     #3d82dc;
     #275da3;
     #1a215c;
     #051144;
*/

@charset "UTF-8";

@font-face{
    font-family: idroid;
    src:url('../fontes/idroid.otf') format('opentype');
    src: url('../fontes/Anton-Regular.ttf') format('truety');
    font-weight: normal;
    font-style: normal;
} 

:root{
    --cor0: #93a1ddc7;
    --cor1:#83a9e1;
    --cor2: #3d82dc;
    --cor3: #275da3;
    --cor4: #1a215c;
    --cor5: #051144;
    --cor6: rgb(13, 155, 199);
    
    --font-padrao: Arial, Helvetica, sans-serif; 
    --font-destaque: 'Bebas Neue', cursive;
    --font-titulo: 'Anton-Regular',sans-serif;
    }

*{
    
    margin: 0px;
    padding: 0px;
   
}
body::-webkit-scrollbar {
    display: none;
}
        body {
            background-color:var(--cor0);
            font-family: var(--font-padrao);
        
        }
        header { 
            background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
            min-height: 200px;
            text-align: center;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.384);
            padding-top: 50px;
        }

        header  > h1 {
            color: white;
            font-family: var(--font-destaque);
            font-size: 3em;
            font-weight: normal;
            text-align: center;
            padding: 25px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
        }
        header a{
            text-decoration: none;
            color: white;
            font-family: var(--font-destaque);
            font-size: 1em;
            font-weight: normal;
        }
        .menu{
            margin-left: 10px;
            margin-top: 15px;
            
        }
        .menu .menu-faketrigger{
            position: absolute;
            z-index: 1000;
            width: 35px;
            height: 35px;
            opacity: 0;
            cursor: pointer;
            margin-top: -70px;
            
        }
         
        .menu .menu-lines{
            position: absolute;
            z-index: 999;
            width: 35px;
            height: 35px;
            margin-top: -70px;
        }

         .menu .menu-lines span{
            display: block;
            width: 35px;
            height: 5px;
            margin-bottom: 10px;
            background-color: #ffffff;
            border-radius: 3px;
            transition: all ease .2s;
            
         }
         .menu .menu-faketrigger:checked ~ .menu-lines span{
            background-color: #ffffff;

         }
         .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
            transform: rotate(45deg) scalex(1.25);
            transform-origin: 0% 0%;
         }
         .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
            opacity: 0;
         }
         .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
            transform: rotate(-45deg) scalex(1.25);
            transform-origin: 0% 100%; 
         }
         .menu ul{
            position: relative;
            z-index: 998;
            left: -10px;
            top: -15px;
            padding-top: 55px;
            border-bottom-right-radius: 10px;
            width: 300px;
            background-color: #ffffff;
            box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.377);
            margin-bottom: -370px;
            margin-left: -400px;
            transition: all ease .2s;
         }
         .menu .menu-faketrigger:checked ~ ul{
            margin-left: 0;
         }
         .menu ul li {
            padding: 20px 40px;
         }
         .menu ul li a{
            text-decoration: none;
            color: var(--cor4);
            font-size: 1.8em;
            font-weight: bold;
            padding: 12px;
            border-radius: 30px;
            transition-duration: 0.5s;
         }
         .menu li a:hover{
            background-color: rgb(0, 0, 0);
            color: var(--cor2);
            
         }

        
        main {
            background-color: rgb(255, 255, 255);
            min-width: 300px;
            max-width: 1000px;
            padding: 20px;
            padding-bottom: 5px;
            margin: auto;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
       .tamaf{
            padding: 10px;
            max-width: 600px;
            display:flex;
            margin: auto;
            justify-content: center;
            /* object-fit: cover; */
        }
        .tama{
            padding: 10px 0px;
            /* max-width: 100%; */
            width: 100%;
            height: 50vh;
            display:flex;
            margin: auto;
        }
        main img{
            width: 100%;
        }
        main img.pequena{
            max-width: 350px;
            display:block;
            margin: auto;
            top: 5%;
            left: 5%; 
            width: 90%;
            height: 90%;
        }
        div.video{
            background-color: var(--cor5);
            margin: 0px -20px 30px -20px;
            padding: 20px;
            padding-bottom: 59%;
            position: relative;
        }
        div.video > iframe{
            position: absolute;
            top: 5%;
            left: 5%; 
            width: 90%;
            height: 90%;
        }

       main h1 {
            color:  var(--cor4);
            font-family:var(--font-titulo);
            font-weight: bolder;
            font-size: 2em;
            text-decoration: none;
        }        
        main p {
            margin: 5px 0px;
            font-family: 'Times New Roman', Times, serif;
            text-align: justify;
            text-indent: 30px;
            font-size: 1.3em;
            line-height: 1.5em;
        }
        main strong{
            color: var(--cor4);
            font-weight: bold;
        }
        main a{
            text-decoration: none;
            font-weight: bold;
            color: var(--cor5);
            padding: 5px 0px;
        }
       main a:hover{
            text-decoration: underline;
            color: var(--cor4);
        }
        main h2 {
            font-family:var(--font-titulo);
            color: black;
            font-size: 1.5em;
            font-weight: bold;
            background-image: linear-gradient(to right, var(--cor2), transparent);
            text-indent: 2px;
            padding: 10px;
            
        }
        .container1 {
            display: flex;
            text-align: center;
        }
          .container1 img{
            width: 100%;
            border-radius: 10px;
            display: flex;
            margin: auto;
        }
        .box1 {
            width: 50%;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
            padding: 15px;
            text-decoration: none;
        }
        .container {
            display: flex;
            text-align: center;
        }
        .container img{
            width: 120px;
            border-radius: 50%;
            display: flex;
            margin: auto;
        }
        .container a{
            padding: 10px;
            font-size: 24px; 
            margin: 10px;

        }
          .fa-whatsapp {
            color: #25d366; /* Verde WhatsApp */
          }
          
            
          .fa-email {
            color: #3498db; /* Azul claro */
          }
          
          .fa-instagram {
            color: #E4405F; /* Cor rosa do Instagram */
          }
        .container a:hover{
            text-decoration: none; 
            color: black; 
        }
        .container p{
            margin-left: -37px;
            padding: 10px;
            text-align: center;
            font-weight: bolder;
        }
        .box {
            width: 50%;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
            padding: 15px;
            text-decoration: none;
        }
        
        
        /*  */
        /* aside{
            background-color: var(--cor1);
            padding: 10px;
            border-radius: 10px;
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.425);
        }
       aside > h3 {
            background-color:var(--cor4);
            color: white;
            padding: 10px;
            margin: -10px -10px 0 -10px;
            border-radius: 10px 10px 0px 0px;
            
        }
        aside > ul {
            list-style-type: '\2714\00A0\00A0';
            list-style-position: inside;
            columns: 2;
        } */

